<!DOCTYPE html>

<html lang="pt-BR">

	<head>    

		<title>Easy Games</title>

		<meta charset="utf-8">   

		<link rel="stylesheet" type="text/css" href="semantic/semantic.css">

		<script type="text/javascript" src="semantic/semantic.min.js"></script>

	</head>



	<body style="background-color: #2B2B2B" >


		<div class="ui top attached tabular inverted menu" style= "height:5.5% ;background-color: #191919; ">
		
			<div class="ui medium image" style="margin-left: 3%;">
				<img  src="imagenseg/Easy Gaming.png">
			</div>

			<div class="right menu">
				<a class="item active" href="index.html">
					Home
				</a>

				<a class="item" href="noticias.php">
					Notícias
				</a>

				<a class="item" href="avalia.html">
					Avaliações
				</a>

			</div>


			<div class="right menu">

			<a class="item" href="login.html">
				<i class="user icon"></i>
				Login
			</a>
			</div>

				<div class="item">

					<div class="ui transparent icon input">

						<input type="text" placeholder="Pesquisar...">

						<i class="search link icon"></i>


					</div>

				</div>

			</div>

		</div>
		<br>


	<div style="margin-left: 20%; margin-right: 20%">
		<!-- essa div controla toda a grid -->

			<div class="ui segment" style=" background-color: #191919;margin-top: 5%">



				<!-- bxSlider CSS file -->
				<link href="slider/jquery.bxslider.css" rel="stylesheet" />

				<ul class="bxslider" style="background-color: #113445">
					<li><img src="slider/images/pic1.png" style="width: 100%"></li>
					<li><img src="slider/images/pic2.jpeg" style="width: 100%" /></li>
					<li><img src="slider/images/pic3.jpeg" style="width: 100%" /></li>
					<li><img src="slider/images/pic4.png" style="width: 100%" /></li>
					<li><img src="slider/images/pic5.jpeg" style="width: 100%" /></li>
				</ul>

				<!-- jQuery library -->
				<script src="slider/jquery-3.1.1.min.js"></script>
				<!-- bxSlider Javascript file -->
				<script src="slider/jquery.bxslider.js"></script>
				<script>
					$(document).ready(function(){
						$('.bxslider').bxSlider({
							mode: 'horizontal',
							moveSlides: 1,
							slideMargin: 0,
							infiniteLoop: true,
							minSlides: 1,
							maxSlides: 1,
							speed: 800,
							auto: true,
							responsive: true
						});
					});
				</script>

			</div>

			
			</div>
			<!-- grid -->

			<div style="margin-left: 22%;margin-right: 22%">

			<div class="ui four column grid" style="margin-top: 10%">

				<div class="column">
					<div class="ui segment" style="width: 100%; background-color: #191919	 ">
						<img src="imagenseg/cup.png" style="width: 100%">
						<h1 style="color: white;">Cuphead</h1>
					</div>
				</div>
				<div class="column">
					<div class="ui segment" style="width: 100%; background-color: #191919	 ">
						<img src="imagenseg/pubg.jpg" style="width: 100%">
						<h1 style="color: white;">PUBG</h1>
					</div>
				</div>
				<div class="column">
					<div class="ui segment" style="width: 100%; background-color: #191919	 ">
						<img src="imagenseg/csgo.jpg" style="width: 100%">
						<h1 style="color: white;">Counter-Strike</h1>
					</div>
				</div>
				<div class="column">
					<div class="ui segment" style="width: 100%; background-color: #191919	 ">
						<img src="imagenseg/r6.jpg" style="width: 100%">
						<h1 style="color: white;">Rainbow Six Siege</h1>
					</div>
				</div>

			</div>

			<div class="ui four column grid" style="margin-top: 10%;margin-bottom: 10%">

				<div class="column">
					<div class="ui segment" style="width: 100%; background-color: #191919	 ">
						<img src="imagenseg/ldj.jpg" style="width: 100%">
						<h1 style="color: white;">Last Day of June</h1>
					</div>
				</div>
				<div class="column">
					<div class="ui segment" style="width: 100%; background-color: #191919	 ">
						<img src="imagenseg/ln.jpg" style="width: 100%">
						<h1 style="color: white;">Little Nightmares</h1>
					</div>
				</div>
				<div class="column">
					<div class="ui segment" style="width: 100%; background-color: #191919	 ">
						<img src="imagenseg/nb18.jpg" style="width: 100%">
						<h1 style="color: white;">NBA 2K18</h1>
					</div>
				</div>
				<div class="column">
					<div class="ui segment" style="width: 100%; background-color: #191919	 ">
						<img src="imagenseg/codww2.jpg" style="width: 100%">
						<h1 style="color: white">Call of Duty</h1>
					</div>
				</div>

			</div>
		</div>

			

			<!-- rodapé  -->


			<div class="ui inverted vertical footer segment" style= "background-color: #191919; ">

				<div class="ui inverted section divider"></div>

				<div class="ui center aligned container">

					<div class="ui stackable inverted divided grid">

						<div class="three wide column">

							<h4 class="ui inverted header">Desenvolvedores</h4>

							<div class="ui inverted link list">

								<a href="#" class="item">Vinicius Peres </a>
								<a href="#" class="item">Athirson Santos </a>
								<a href="#" class="item">Carlos Eduardo </a>

							</div>

						</div>

						<div class="three wide column">

							<h4 class="ui inverted header">Steam</h4>

							<div class="ui inverted link list">

								<a href="#" class="item">ohperes     <i class="steam icon"></i></a>
								<a href="#" class="item">TitoMatador  <i class="steam icon"></i></a>
								<a href="#" class="item">guaxinim456 <i class="steam icon"></i></a>

							</div>

						</div>

						<div class="three wide column">

							<h4 class="ui inverted header">Instagram</h4>

							<div class="ui inverted link list">

								<a href="#" class="item">ohperess     <i class="instagram icon"></i></i></a>
								<a href="#" class="item">athirsonantos <i class="instagram icon"></i></a>
								<a href="#" class="item">carlosduardo <i class="instagram icon"></i></a>

							</div>

						</div>

						<div class="three wide column">

							<h4 class="ui inverted header">Facebook</h4>

							<div class="ui inverted link list">

								<a href="#" class="item">Vinicius Peres <i class="facebook icon"></i></i></a>
								<a href="#" class="item">Athirson Santos <i class="facebook icon"></i></a>
								<a href="#" class="item">Carlos Eduardo Rosa <i class="facebook icon"></i></a>

							</div>

						</div>

						<div class="three wide column">

							<h4 class="ui inverted header">Easy Games</h4>

							<div class="ui inverted link list">

								<a href="#" class="item">Youtube  <i class="youtube play icon"></i></i></a>
								<a href="#" class="item">Facebook <i class="facebook icon"></i></a>
								<a href="#" class="item">E-Mail   <i class="mail icon"></i></a>

							</div>

						</div>
						
					</div>

					<div class="ui inverted section divider"></div>

					<div class="seven wide column">

							<h4 class="ui inverted header">Suporte</h4>

							<p>Desenvolvido por alunos do Instituto Federal Catarinense campus Araquari</p>

						</div>

				</div>

			</div>

		</div>

		<!--- fim rodapé --> 

	</body>

