<!DOCTYPE html>

<html lang="pt-BR">

<head>

    <title>Easy Games</title>

    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="semantic/semantic.css">

    <script type="text/javascript" src="semantic/semantic.min.js"></script>

</head>

<body style="background-color: #2B2B2B">

<div class="ui top attached tabular inverted menu" style= "height:5.5%;background-color: #191919; ">

    <div class="ui medium image" style=" margin-left: 3%">
        <img src="imagenseg/Easy Gaming.png">
    </div>
    <div class="right menu">
        <a class="item" href="index.html">
            Home
        </a>

        <a class="item active" href="noticias.php">
            Noticias
        </a>

        <a class="item" href="avalia.html">
            Avaliações
        </a>
    </div>


    <div class="right menu">

        <div class="right menu">

            <a class="item" href="login.html">
                <i class="user icon"></i>
                Login
            </a>
        </div>

        <div class="item">

            <div class="ui transparent icon input">
                <input type="text" placeholder="Pesquisar...">
                <i class="search link icon"></i>


            </div>
        </div>
    </div>
</div>

<!-- principal -->
    <div style="margin-left: 20%; margin-right: 20%">
        <div>
            <div class="ui segment" style="width: 100%; background-color: #191919;margin-top: 5%">
                <div>
                    <div class="ui one column grid" >

                        <div class="column">
                            <div>
                                <img src="imagenseg/capanot.png" style="height: 100%;width: 100%;border-radius: 1%">
                            </div>
                        </div>


                </div>

            </div>

        </div>
        </div>


            <div class="ui segment" style="width: 100%; background-color: #191919;margin-top: 5%">

            <div class="ui one column grid" style="height: 100%;width: 100%">

                <div class="column" style=";margin-top: 2%;margin-bottom: 2%;margin-left: 2%;margin-right: 2%">
                    <div>
                        <h1 style="color: white">Operation White Noise trará três novos operadores e um mapa a Rainbow Six Siege</h1>
                        <p style="color: white">A Ubisoft está próxima de fechar o segundo ano de Rainbow Six: Siege com novos conteúdos da expansão Operation White Noise. O conteúdo da quarta temporada do game trará três novos operadores e um novo mapa. Detalhes ainda são escassos sobre as novas adições, mas um teaser já foi dado pela companhia através de um post no blog oficial do game. Membros do 707º Batalhão de Missões Especiais da Coreia do Sul, o operador atacante será “teimoso e ousado” enquanto o defensor será “metódico e tenáz”. Um novo operador polonês também será incluído no grupo. O novo mapa, por sua vez, será uma torre de observação em Seoul, na Coreia. Ainda não há nenhuma informação extra sobre o terreno, no entanto. Novas armas também são previstas para o game.</p>

                    </div>

                </div>


            </div>


            </div>

            <div class="ui labeled button" tabindex="0" style="margin-top: 3%">
                <div class="ui  green button" style="color: white ">
                    <i class="thumbs up icon" style="color: white"></i> Like
                </div>
                <a class="ui basic green label">
                    48
                </a>
                <div class="ui red button" style="color: white; ; margin-left: 2%">
                    <i class="thumbs down icon" style="color: white"></i> Dislike
                </div>
                <a class="ui basic red label">
                    48
                </a>
            </div>

            <div class="ui form" style="width: 100%;margin-top: 5%;margin-bottom: 5%">

                <div class="field grey">

                    <h1 style="color: #191919;">Comentários</h1>

                    <textarea placeholder="Adicione seu comentário..."></textarea>

                    <button class="ui  grey button" style="margin-top: 2%; color: #2B2B2B">Enviar</button>

                </div>
            </div>

</div>






<!-- rodapé  -->


    <div class="ui inverted vertical footer segment" style= "background-color: #191919; ">

        <div class="ui inverted section divider"></div>

        <div class="ui center aligned container">

            <div class="ui stackable inverted divided grid">

                <div class="three wide column">

                    <h4 class="ui inverted header">Desenvolvedores</h4>

                    <div class="ui inverted link list">

                        <a href="#" class="item">Vinicius Peres </a>
                        <a href="#" class="item">Athirson Santos </a>
                        <a href="#" class="item">Carlos Eduardo </a>

                    </div>

                </div>

                <div class="three wide column">

                    <h4 class="ui inverted header">Steam</h4>

                    <div class="ui inverted link list">

                        <a href="#" class="item">ohperes     <i class="steam icon"></i></a>
                        <a href="#" class="item">titoMatdor  <i class="steam icon"></i></a>
                        <a href="#" class="item">guaxinim456 <i class="steam icon"></i></a>

                    </div>

                </div>

                <div class="three wide column">

                    <h4 class="ui inverted header">Instagram</h4>

                    <div class="ui inverted link list">

                        <a href="#" class="item">ohperess     <i class="instagram icon"></i></i></a>
                        <a href="#" class="item">athirsonSantos <i class="instagram icon"></i></a>
                        <a href="#" class="item">carlosEduardo <i class="instagram icon"></i></a>

                    </div>

                </div>

                <div class="three wide column">

                    <h4 class="ui inverted header">Facebook</h4>

                    <div class="ui inverted link list">

                        <a href="#" class="item">Vinicius Peres <i class="facebook icon"></i></i></a>
                        <a href="#" class="item">Athirson Santos <i class="facebook icon"></i></a>
                        <a href="#" class="item">Carlos Eduardo Rosa <i class="facebook icon"></i></a>

                    </div>

                </div>

                <div class="three wide column">

                    <h4 class="ui inverted header">Easy Games</h4>

                    <div class="ui inverted link list">

                        <a href="#" class="item">Youtube  <i class="youtube play icon"></i></i></a>
                        <a href="#" class="item">Facebook <i class="facebook icon"></i></a>
                        <a href="#" class="item">E-Mail   <i class="mail icon"></i></a>

                    </div>

                </div>

            </div>

            <div class="ui inverted section divider"></div>

            <div class="seven wide column">

                <h4 class="ui inverted header">Suporte</h4>

                <p>Desenvolvido por alunos do Instituto Federal Catarinense campus Araquari</p>

            </div>

        </div>

    </div>


    <!--- fim rodapé -->

    </body>

    </html>