<!DOCTYPE html>
<html lang="pt-BR">
<head>

    <title>EG</title>

    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="semantic/semantic.css">


</head>
<body>
<script type="text/javascript" src="semantic/semantic.min.js"></script>


<div class="ui middle aligned center aligned grid">
    <div class="column">


                    <a class="ui button" href="index.html" style="background-color: #191919; color: white">
                        <i class=""></i>
                        Logout
                    </a>
                    <a class="ui button" href="editarPerfil.html" style="background-color: #191919; color: white">
                        <i class=""></i>
                        Editar
                    </a>
                    <a class="ui button" href="index.html" style="background-color: #191919; color: white">
                        <i class=""></i>
                        Deletar Perfil
                    </a>    
                
            </div>



            <div class="ui error message"></div>


        </form>


        </div>
    </div>
</div>


</div>
</div>

<style type="text/css">
    body {
        background-color: #191919;
    }
    body > .grid {
        height: 100%;
    }
    .image {
        margin-top: -100px;
    }
    .column {
        max-width: 600px;
    }
</style>


</body>
</html>