<!DOCTYPE html>

<html lang="pt-BR">

<head>

    <title>Easy Games</title>

    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="semantic/semantic.css">

    <script type="text/javascript" src="semantic/semantic.min.js"></script>

</head>

<body style="background-color: #2B2B2B">

    <div class="ui top attached tabular inverted menu" style= "height:5.5%;background-color: #191919; ">

        <div class="ui medium image" style=" margin-left: 3%">
            <img src="imagenseg/Easy Gaming.png">
        </div>
        <div class="right menu">
            <a class="item" href="index.html">
                Home
            </a>

            <a class="item" href="noticias.html">
                Noticias
            </a>

            <a class="item active" href="avalia.html">
                Avaliações
            </a>
        </div>


        <div class="right menu">

            <div class="right menu">

                <a class="item" href="login.html">
                    <i class="user icon"></i>
                    Login
                </a>
            </div>

            <div class="item">

                <div class="ui transparent icon input">
                    <input type="text" placeholder="Pesquisar...">
                    <i class="search link icon"></i>


                </div>
            </div>
        </div>
    </div>


    <!-- principal -->

    <div style="margin-left: 20%; margin-right: 20%">


        <div class="ui segment" style=" background-color: #191919;margin-top: 5%">
            <div>
                <div class="ui one column grid">

                    <div class="column">
                        <div>
                            <img src="imagenseg/capaava.jpg" style="height: 100%;width: 100%;border-radius: 1%">
                        </div>
                    </div>


                </div>

            </div>

        </div>


        <div class="ui segment" style="background-color: #191919;margin-top: 5%">

            <div class="ui one column grid" style="height: 100%;width: 100%">

                <div class="column" style=";margin-top: 2%; margin-bottom: 2%;margin-left: 2%;margin-right: 2%">
                    <div>
                        <h1 style="color: white">Call of Duty: World War II</h1>
                        <p style="color: white">Call of Duty: World War II (também conhecido como Call of Duty: WWII) é um jogo eletrônico de tiro em primeira pessoa produzido pela empresa Sledgehammer Games e distribuído pela Activision para PlayStation 4, Xbox One e Microsoft Windows PC. É o primeiro jogo da série Call of Duty a se passar durante a Segunda Guerra Mundial desde Call of Duty: World at War em 2008.[2] O jogo foi anunciado em 21 de abril de 2017 com um trailer de revelação completo em 26 de abril de 2017. O jogo foi lançado mundialmente em 3 de novembro de 2017.</p>

                    </div>

                </div>


            </div>


        </div>

        <div class="ui two column grid" style="margin-top: 5%">
            <div class="column">
                <h1 style="color: white">Nota do jogo</h1>
                <i class="star large icon" style="color: yellow"></i>
                <i class="star large icon" style="color: yellow"></i>
                <i class="star large icon" style="color: yellow"></i>
                <i class="star large icon" style="color: yellow"></i>
                <i class="empty star large icon" style="color: yellow"></i>
                <br>
                <div class="ui labeled button" tabindex="0" style="margin-top: 3%;">
                <div class="ui  green button" style="color: white ">
                    <i class="thumbs up icon" style="color: white"></i> Like
                </div>
                <a class="ui basic green label">
                    41
                </a>
                <div class="ui red button" style="margin-left: 2%;color: white">
                    <i class="thumbs down icon" style="color: white "></i> Dislike
                </div>
                <a class="ui basic red label">
                    17
                </a>
            </div>

            </div>
            <div class="column" style="background-color: #191919; border-radius: 1%;width: 49%">
                <h1 style="color: white;margin-top: 2%">Sites com o jogo disponível</h1>
                <div style="margin-bottom: 2%">
                    <i class="world icon" style="color: white"></i>
                    <a href="" style="color: white">example.com.br/jogodesejado</a>
                </div>
                <div style="margin-bottom: 2%">
                    <i class="world icon" style="color: white"></i>
                    <a href="" style="color: white">example.com.br/jogodesejado</a>
                </div>
                <div style="margin-bottom: 2%">
                    <i class="world icon" style="color: white"></i>
                    <a href="" style="color: white">example.com.br/jogodesejado</a>
                </div>
                <div style="margin-bottom: 2%">
                    <i class="world icon" style="color: white"></i>
                    <a href="" style="color: white">example.com.br/jogodesejado</a>
                </div>
                <div style="margin-bottom: 2%">
                    <i class="world icon" style="color: white"></i>
                    <a href="" style="color: white">example.com.br/jogodesejado</a>
                </div>
            </div>

        </div>




        <div class="ui form" style="margin-top: 5%;margin-bottom: 5%">

            <div class="field">

                <h1 style="color: #191919">Comentários</h1>

                <textarea placeholder="Adicione seu comentário..." ></textarea>

                <button class="ui  grey button" style="margin-top: 2%; color: #2B2B2B">Enviar</button>


            </div>
        </div>
    </div>







    <!-- rodapé  -->


    <div class="ui inverted vertical footer segment" style= "background-color: #191919; ">

        <div class="ui inverted section divider"></div>

        <div class="ui center aligned container">

            <div class="ui stackable inverted divided grid">

                <div class="three wide column">

                    <h4 class="ui inverted header">Desenvolvedores</h4>

                    <div class="ui inverted link list">

                        <a href="#" class="item">Vinicius Peres </a>
                        <a href="#" class="item">Athirson Santos </a>
                        <a href="#" class="item">Carlos Eduardo </a>

                    </div>

                </div>

                <div class="three wide column">

                    <h4 class="ui inverted header">Steam</h4>

                    <div class="ui inverted link list">

                        <a href="#" class="item">ohperes     <i class="steam icon"></i></a>
                        <a href="#" class="item">titoMatdor  <i class="steam icon"></i></a>
                        <a href="#" class="item">guaxinim456 <i class="steam icon"></i></a>

                    </div>

                </div>

                <div class="three wide column">

                    <h4 class="ui inverted header">Instagram</h4>

                    <div class="ui inverted link list">

                        <a href="#" class="item">ohperess     <i class="instagram icon"></i></i></a>
                        <a href="#" class="item">athirsonSantos <i class="instagram icon"></i></a>
                        <a href="#" class="item">carlosEduardo <i class="instagram icon"></i></a>

                    </div>

                </div>

                <div class="three wide column">

                    <h4 class="ui inverted header">Facebook</h4>

                    <div class="ui inverted link list">

                        <a href="#" class="item">Vinicius Peres <i class="facebook icon"></i></i></a>
                        <a href="#" class="item">Athirson Santos <i class="facebook icon"></i></a>
                        <a href="#" class="item">Carlos Eduardo Rosa <i class="facebook icon"></i></a>

                    </div>

                </div>

                <div class="three wide column">

                    <h4 class="ui inverted header">Easy Games</h4>

                    <div class="ui inverted link list">

                        <a href="#" class="item">Youtube  <i class="youtube play icon"></i></i></a>
                        <a href="#" class="item">Facebook <i class="facebook icon"></i></a>
                        <a href="#" class="item">E-Mail   <i class="mail icon"></i></a>

                    </div>

                </div>

            </div>

            <div class="ui inverted section divider"></div>

            <div class="seven wide column">

                <h4 class="ui inverted header">Suporte</h4>

                <p>Desenvolvido por alunos do Instituto Federal Catarinense campus Araquari</p>

            </div>

        </div>

    </div>


    <!--- fim rodapé -->

</body>

</html>