<!DOCTYPE html>

<html lang="pt-BR">

<head>    

	<title>Easy Games</title>

	<meta charset="utf-8">   

	<link rel="stylesheet" type="text/css" href="semantic/semantic.css">

	<script type="text/javascript" src="semantic/semantic.min.js"></script>

</head>

<body style="background-color: #2B2B2B">

	<div class="ui top attached tabular inverted menu" style= "height:5.5%;background-color: #191919; ">
		
		<div class="ui medium image" style=" margin-left: 3%">
			<img src="imagenseg/Easy Gaming.png">
		</div>
		<div class="right menu">
			<a class="item" href="index.html">
				Home
			</a>

			<a class="item" href="noticias.php">
				Noticias
			</a>

			<a class="item active" href="avalia.html">
				Avaliações
			</a>
		</div>


		<div class="right menu">

			<a class="item" href="login.html">
				<i class="user icon"></i>
				Login
			</a>
			</div>

			<div class="item">

				<div class="ui transparent icon input">
					<input type="text" placeholder="Pesquisar...">
					<i class="search link icon"></i>


				</div>
			</div>
		</div>
	</div>

	<!-- grid -->

	<div style="margin-left: 20%; margin-right: 20%">

		<div class="ui compact menu" style="margin-top: 5% ; height: 10%;background-color: #191919">
			<div class="item">
				<h1 style="color: white">Mais populares<h1/>
			</div>
		</div>

		<div class="ui four column grid " style="margin-top: 5%; margin-left: 2%;margin-right: 2%">

			<div class="column">
				<a href="avaind.html"><div class="ui segment" style="width: 100%; background-color: #191919	 ">
					<img src="imagenseg/cod.jpg" style="width: 100%">
					<h1 style="color: white;width: 100%">Call of Duty</h1>
				</div></a>
			</div>
			<div class="column">
				<div class="ui segment" style="width: 100%; background-color: #191919	 ">
					<img src="imagenseg/swb2.jpg" style="width: 100%">
					<h1 style="color: white;width: 100%"> Battlefront II</h1>
				</div>
			</div>
			<div class="column">
				<div class="ui segment" style="width: 100%; background-color: #191919	 ">
					<img src="imagenseg/fh.jpg" style="width: 100%">
					<h1 style="color: white;width: 100%">For Honor</h1>
				</div>
			</div>
			<div class="column">
				<div class="ui segment" style="width: 100%; background-color: #191919	 ">
					<img src="imagenseg/spo.jpg" style="width: 100%">
					<h1 style="color: white;width: 100%">Mario Odyssey</h1>
				</div>
			</div>

		</div>


		<div class="ui compact menu" style="margin-top: 5% ; height: 10%;background-color: #191919">
			<div class="item">
				<h1 style="color: white;">Melhores eSports<h1/>
			</div>
		</div>

		<div class="ui four column grid" style="margin-top: 5%;margin-left: 2%;margin-right: 2%">

			<div class="column">
				<div class="ui segment" style="width: 100%; background-color: #191919	 ">
					<img src="imagenseg/r6.jpg" style="width: 100%">
					<h1 style="color: white;width: 100%">Rainbow Six Siege</h1>
				</div>
			</div>
			<div class="column">
				<div class="ui segment" style="width: 100%; background-color: #191919	 ">
					<img src="imagenseg/csgo.jpg" style="width: 100%">
					<h1 style="color: white;width: 100%">Counter-Strike</h1>
				</div>
			</div>
			<div class="column">
				<div class="ui segment" style="width: 100%; background-color: #191919	 ">
					<img src="imagenseg/over.jpg" style="width: 100%">
					<h1 style="color: white;width: 100%">Overwatch</h1>
				</div>
			</div>
			<div class="column">
				<div class="ui segment" style="width: 100%; background-color: #191919	 ">
					<img src="imagenseg/d2.jpg" style="width: 100%">
					<h1 style="color: white;width: 100%">DOTA 2</h1>
				</div>
			</div>

		</div>


		<div class="ui compact menu" style="margin-top: 5% ; height: 10%;background-color: #191919">
			<div class="item">
				<h1 style="color: white;">Mais Recentes<h1/>
			</div>
		</div>

		<div class="ui four column grid" style="margin-top: 5%;margin-bottom: 10%;margin-left: 2%;margin-right: 2%">

			<div class="column">
				<div class="ui segment" style="width: 100%; background-color: #191919	 ">
					<img src="imagenseg/fifa18.jpg" style="width: 100%">
					<h1 style="color: white;width: 100%">FIFA 18</h1>
				</div>
			</div>
			<div class="column">
				<div class="ui segment" style="width: 100%; background-color: #191919	 ">
					<img src="imagenseg/re7.jpg" style="width: 100%">
					<h1 style="color: white;width: 100%">Resident Evil 7</h1>
				</div>
			</div>
			<div class="column">
				<div class="ui segment" style="width: 100%; background-color: #191919	 ">
					<img src="imagenseg/i2.jpg" style="width: 100%">
					<h1 style="color: white;width: 100%">Injustice 2</h1>
				</div>
			</div>
			<div class="column">
				<div class="ui segment" style="width: 100%; background-color: #191919	 ">
					<img src="imagenseg/fortnite.jpg" style="width: 100%">
					<h1 style="color: white;width: 100%">Fortnite</h1>
				</div>
			</div>

		</div>
	</div>


	<!-- rodapé  -->


		<div class="ui inverted vertical footer segment" style= "background-color: #191919; ">

			<div class="ui inverted section divider"></div>

			<div class="ui center aligned container">

				<div class="ui stackable inverted divided grid">

					<div class="three wide column">

						<h4 class="ui inverted header">Desenvolvedores</h4>

						<div class="ui inverted link list">

							<a href="#" class="item">Vinicius Peres </a>
							<a href="#" class="item">Athirson Santos </a>
							<a href="#" class="item">Carlos Eduardo </a>

						</div>

					</div>

					<div class="three wide column">

						<h4 class="ui inverted header">Steam</h4>

						<div class="ui inverted link list">

							<a href="#" class="item">ohperes     <i class="steam icon"></i></a>
							<a href="#" class="item">titoMatdor  <i class="steam icon"></i></a>
							<a href="#" class="item">guaxinim456 <i class="steam icon"></i></a>

						</div>

					</div>

					<div class="three wide column">

						<h4 class="ui inverted header">Instagram</h4>

						<div class="ui inverted link list">

							<a href="#" class="item">ohperess     <i class="instagram icon"></i></i></a>
							<a href="#" class="item">athirsonSantos <i class="instagram icon"></i></a>
							<a href="#" class="item">carlosEduardo <i class="instagram icon"></i></a>

						</div>

					</div>

					<div class="three wide column">

						<h4 class="ui inverted header">Facebook</h4>

						<div class="ui inverted link list">

							<a href="#" class="item">Vinicius Peres <i class="facebook icon"></i></i></a>
							<a href="#" class="item">Athirson Santos <i class="facebook icon"></i></a>
							<a href="#" class="item">Carlos Eduardo Rosa <i class="facebook icon"></i></a>

						</div>

					</div>

					<div class="three wide column">

						<h4 class="ui inverted header">Easy Games</h4>

						<div class="ui inverted link list">

							<a href="#" class="item">Youtube  <i class="youtube play icon"></i></i></a>
							<a href="#" class="item">Facebook <i class="facebook icon"></i></a>
							<a href="#" class="item">E-Mail   <i class="mail icon"></i></a>

						</div>

					</div>
					
				</div>

				<div class="ui inverted section divider"></div>

				<div class="seven wide column">

						<h4 class="ui inverted header">Suporte</h4>

						<p>Desenvolvido por alunos do Instituto Federal Catarinense campus Araquari</p>

					</div>

			</div>

		</div>

		<!--- fim rodapé --> 

</body>

</html>